<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add new User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}">
    <label for="name">Enter name</label>
    <input name="name"  id="name"/>


    <label for="lastname">Enter lastName</label>
    <input name="lastName"   id="lastname"/>


    <label for="age">Enter age</label>
    <input name="age"  id="age"/>


    <label for="password">Enter password</label>
    <input name="password" id="password"/>

    <label for="email">Enter email</label>
    <input name="email" id="email"/>


    <input type="submit" value="Create!"/>
    <br>
</form>
<b/>
<form method="get" action="/logout">
    <input type="submit" value="выход">
</form>

</body>
</html>