<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<p th:text="${user.getName()}">User</p>
<p th:text="${user.getAge()}">User</p>
<p th:text="${user.getLastName()}">User</p>
<p th:text="${user.getEmail()}">User</p>
<div th:each="role : ${user.getRoles()}" >
    <p th:text="${role.getName()}">Role</p>
</div>

<form method="get" action="/logout">
    <input type="submit" value="выход">
</form>
</body>
</html>